<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMD Financial, Inc. Employee Absence Reporting</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    
        <header class="hero flex-row justify-space-between">
        
                <nav class="flex-row align-center">
                    {{#if is_approver}}
                       <a href='/approval-queue' id="approval-queue" class="nav-item btn-no-style"><h3>Approval Queue</h3></a>
                    {{/if}}
                    {{#if loggedIn}}
                        <a href='/dashboard' id="dashboard" class="nav-item btn-no-style"><h3>Dashboard</h3></a>
                        <button id="logout" class="btn-no-style nav-item"><h3>Log Out</h3></button>
                    {{/if}}
                   

                </nav>
                <h1>
                    <a class="app-title" href="/">Employee Absence Reporting</a>
                </h1>

        </header>
    </div>
        <main>
            {{{body}}}
        </main>
        <footer>
            CMD Financial, Inc.
        </footer>
    </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}