<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMD Financial, Inc. Employee Absence Reporting</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    
        <header class="hero flex-row justify-space-between">
        
                <nav class="flex-row justify-space-between align-text-bottom">
                    <a  href="/" class="nav-item"><h3>Home</h3></a>
                    <a  button id="dashboard" class="nav-item btn-no-style"><h3>Dashboard</h3></a>
                    {{#if loggedIn}}
                    <button id="logout" class="btn-no-style nav-item"><h3>Log Out</h3></button>
                    {{else}}
                    <a  href="/" class="nav-item decoration-none"><h3>Log In</h3></a>
                    {{/if}}
                </nav>
                <h1>
                    <a class="app-title" href="/">Employee Absence Reporting</a>
                </h1>

        </header>
    </div>
        <main>
            {{{body}}}
        </main>
        <footer>
            CMD Financial, Inc.
        </footer>
    </div>