<div class="flex-row justify-center">
    <div class="card login-signup">
        <div class="card-header form-item"><h3>My Profile</h3></div>
            <div class="card-body flex-column align-center">
                <form class="login-form">
                    <div class="form-item">
                        <label for="my-first-name" class="form-label">first name:</label>
                        <input type="text" id="my-first-name" class="form-input" value="{{first_name}}"/>
                    </div>
                    <div class="form-item">
                        <label for="my-last-name" class="form-label">last name:</label>
                        <input type="text" id="my-first-name" class="form-input" value="{{last_name}}"/>
                    </div>
                    
          
                        <button type="submit" class="btn width-100">Log In</button>
              
                </form>
            </div>
    </div>{{!--end card--}}